<footer>
  <div class="container d-flex justify-content-between align-items-center">
    <%= image_tag("logo-mobile-rodape.png", size: "150x150", class: "img") %>
    <p class="m-5">
      <span class="text-white" id="banner-typed-text"></span>
    </p>
  </div>
</footer>
